* {
	font-family: "Franklin Gothic Demi", Sans-Serif;
}

/*Organize gauges*/
.gauges {
	/*padding-left: 22.5%;*/
	padding-left: 2%;
}

/*Organize get temp/hum buttons*/
.split_screen_buttons {
	padding-bottom: 8%;
	text-align: left;
}
.split_screen_buttons .get_temperature {
    display: inline-block;
	text-align: left;
	padding-left: 8%;
	padding-right: 5%;
}
.split_screen_buttons .get_humidity {
    display: inline-block;
	text-align: left;
	padding-left: 8%;
	padding-right: 5%;
}

/*Organize set temp/hum/interval fields*/
.split_screen_forms {
	padding-bottom: 2%;
}
.split_screen_forms .set_temperature {
    display: inline-block;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
.split_screen_forms .set_humidity {
    display: inline-block;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}

/*Organize light/water toggle buttons*/
.split_screen_toggles {
	padding-bottom: 2%;
}
.split_screen_toggles .toggle_water_interval {
    display: inline-block;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
.split_screen_toggles .toggle_light {
    display: inline-block;
	text-align: left;
	padding-left: 5%;
	padding-right: 17%;
}


body {
	text-align: center;
	width: 100vw;
	height: 100vh;
}

header {
	font-size: 40px;
	color: green;
	text-align: center;
	padding-bottom: 10px;
}

section {
	vertical-align: text-top;
	width: 45%;
	height: 80%;
	background-color: #FFDD9C;
	display: inline-block;
	text-align: center;
}

chart-div {
	padding-left: 1cm;
	padding-bottom: 2%;
}

form {
	text-align: left;
}

input {
	display: inline-block;
}

form.div {
	padding-right: 1cm;
}