body {
	text-align: center;
	width: 100vw;
	height: 100vh;
}

header {
	font-size: 40px;
	color: green;
	text-align: center;
	padding-bottom: 10px;
}

section {
	vertical-align: text-top;
	width: 45%;
	height: 80%;
	background-color: #FFDD9C;
	display: inline-block;
	text-align: center;
}

#chart-div {
	padding-left: 1cm;
}

form {
	text-align: right;
}

form.div {
	padding-right: 1cm;
}