<html>
<head>
	<title>Reap-Eat</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="../static/scripts.js"></script>
	<link rel="stylesheet" href="../static/styles.css">
	<link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
</head>
<header>
	<img style="width:25vw; text-align:center;" src="../static/img/reapeat-header.png">
</header>
<body style="text-align: center;">
	<section>
		<h1>Plant Live View</h1>
		<img id="live-view">
		<button onclick="downloadImage('http://192.168.1.83/image')">Download Image</button>
	</section>
	<section id="system-monitor">
		<h1>System Monitor</h1>

        <div class="system">
            Current temperature: 
            <span id="system_temperature">NaN</span>
        </div>

        <div class="system">
            Current humidity: 
            <span id="system_humidity">NaN</span>
        </div>

        <div class="system">
            Current water level: 
            <span id="water_level">Unknown</span>
        </div>

        <div class="system">
            Light enabled: 
            <span id="light_enabled">Unknown</span>
        </div>

        <form class="set">
            <label>Set Temperature:</label>
            <input type="number" id="temperature_setpoint">
            <input type="button" value="Submit" onclick="setTemperature()">
        </form>

        <form class="set">
            <label>Set Humidity:</label>
            <select id="humidity_setpoint">
                <option value = "Low">Low</option>
                <option value = "Medium">Medium</option>
                <option value = "High">High</option>
            </select>
            <input type="button" value="Submit" onclick="setHumidity()">
        </form>

        <form class="set">
            <label>Light Intensity: </label>
            <input type="range" min="0" max="100" id="light_setpoint" onchange="setLight()">
        </form>

        <form class="set">
            <label>Water Plant: </label>
            <input type="number" id="water_setpoint">
            <input type="button" value="Submit" onclick="waterPlant()">
        </form>
    </section>
</body>
<footer>
</footer>
</html>
