<html>
<head>
	<title>Reap-Eat</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="../static/scripts.js"></script>
	<link rel="stylesheet" href="../static/styles.css">
	<link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
</head>
<header>
	<img style="width:25vw; text-align:center;" src="../static/img/reapeat-header.png">
</header>
<body style="text-align: center;">
	<section>
		<h1>Plant Live view</h1>
	</section>
	<section id="system-monitor">
		<h1>System Monitor</h1>
		<div id="chart_div"></div>
		<form style="text-align: center;">	
			<div id="temperature">
				<label>Temperature Control</label>
				<input type="range" min="60" max="80" onchange="updateTemperatureSetpoint(this.value);">
				<input type="text" id="temperatureInput" value="72">
			</div>
		</form>
	</section>
</body>
<footer>
</footer>
</html>
