<html>
<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="../static/gauge.js"></script>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<header>
	Reap-Eat: The Smart Greenhouse
</header>
<body style="text-align: center;">
	<section>
		<h1>Plant Live view</h1>
	</section>
	<section id="system-monitor">
		<h1>System Monitor</h1>
		<div id="chart_div"></div>
		<form style="text-align: center;">	
			<div id="temperature">
				<label>Temperature Control</label>
				<input type="range" min="60" max="80" onchange="updateTemperatureSetpoint(this.value);">
				<input type="text" id="temperatureInput" value="72">
			</div>
			<div id="humidity">
				<label>Humidity Control</label>
				<input type="range" min="60" max="80" onchange="updateHumiditySetpoint(this.value);">
				<input type="text" id="humidityInput" value="72">
			</div>
		</form>
	</section>
</body>
<footer>
</footer>
</html>
